
header{
        height: 250px;
        width: 100%;
        background-size: cover;
        background-image: url(../img/back.jpeg);
        background-repeat: no-repeat;
        font-family: 'Pacifico', cursive;
        font-size: 48px;
        color: blue;
        padding: 0;
    }
    /*style des éléments du header*/
    .imghead{
        height: 210px;
        background-size: contain;
        background-repeat: no-repeat;
        margin-bottom: 2%;
        background-position: center;
    }
    .imagehead p{
        color: white;
        background-color: none;
        width: 75%;
        margin: auto;
        margin-top: 15%

    }
body{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    background: #EFECCA;
}

#logo1{
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    background-size: 250px;
    float: left;



}
#titre{
    height: 225px;
}

#ardoise{
    padding: 4.5% 0;
    background-image: url("../img/tableau.jpg");
    font-family: 'Exo', sans-serif;
    color: white;
    font-size: 3rem;
    background-position: bottom;
    background-size: cover;

}

#ardoise span{
    float: right;
    color: yellow;
    padding-right: 10%
}
#ardoise li:before{
    padding-right: 2%;
    content: "♣";
}
ul li{
    list-style:none;
    text-align: left;
}
ul#menu {
    height: 35px;
    margin: 0;
    padding: 0;
    background-color: #B9121B;
    list-style-type: none;
}

ul#menu li {
    float: left;
    text-align: center;
    width: 50%;

}
ul#menu li a {
    /*width: 580px;*/
    line-height: 25px;
    font-size: 2.2em;
    font-weight: bold;
    letter-spacing: 2px;
    color: #B9121B;
    display: block;
    text-decoration: none;
    border-right: 2px solid #EFECCA;
    background-color: #FEA101;
}

a {
    color: -webkit-link;
    text-decoration: underline;
    cursor: auto;
}

#descriptif{
    float: left;
    padding: 9%;
    background-color: #EFECCA;
}
.texte{
font-family: 'La Belle Aurore', cursive;
font-size:4.5rem;
}
@media screen and (max-width: 768px){
    .texte{
        font-size:2rem;
    }
