body{
  font-size: 25px;
}

h1{
  background: darkslategray;
  color: white;

}

section p{
  color: red!important;
}

section p:first-child{/*premier p*/
color: darkblue;

}

section p:last-child{/*dernier p*/
color: lightgreen;

}

section p:nth-child(even){/*les p impaires*/
color: blue;
}
section p:nth-child(odd){/*les p pairs*/
color: brown;

}

section p:nth-child(3),section p:nth-child(9){/*les p en position 3 et9*/
color: orange;
}

.zone1{/*on sélectionne un CLASS avec un . devant le nom de la classe*/
color: #dc143c;
}
.zone2{
  color: #008080;
}
.lime{
  color: #00ff00;
}
#zone3{/*on sélectionne un ID avec le nom de l'ID*/
background: #f5deb3
color: #8b4513
}
#zone3:after{/*rajouter un contenue après l'ID zone3*/
content:"rajouter après";
}
#zone3:before{/*rajouterun contenu avant l'ID zone3*/
content:"et moi je viens avant";
}
.zone4 span{/*appliquer une mise en forme au contenu dans la balise span imbriquée dans la zone4*/
color: #ff7f50;
background: #66cdaa;

}
li:nth-child(2){
background: darkred;
color: white;
}
