*{
    font-family: sans-serif;/*police d'écriture*/
}
.menu{
    background: #000;
    color: #fff;
    border-radius: 10px;
    width: 20%;
    }
.menu a{/*sélection des liens imbriqués dans la class .menu*/
    display: block;/*toute la largeur nécessaire*/
    border-bottom: 0.2em solid darkslategray;
    padding: 0.5em;
    text-decoration: none;/*supprime l'héritage de souligné des liens*/
    color: #fff;
}
.menu div{/*mise en forme de la <div> ayant la class .menu*/
    border-bottom: 0.2em solid darkslategray;
    font-size: 1em;
    margin: 0;
    padding: 0.5em 0;
    text-align: center;
    display: block;
}
.menu a:hover{/*tous les liens contenus dans la <div> de class .menu au survol*/
    background: #fda500;
    color: #000;
}
.menu a:last-child{
    border: 0;/*pas de bordure pour le dernier lien*/
}
.menu a:hover:last-child{
    border-radius: 0 0 10px 10px;/*arrondi des angles au survol de la souris pour éviter de déborder du cadre du menu*/
}
