body{
    width: 80%;
    margin: 10px auto;
    font-family: cursive;
    }

    .container{
        border: 2px solid #000;
    }

    header, footer{
        height: 80px;
        background: #e6e2af;
        color: #000;
        text-align: center;
        padding-top: 6px;
    }

    .nav{
        height: 40px;
        background: #4a1a2c;
        color: #fff;
        padding-left: 20px;
        padding-top: 6px;
    }

    .gauche, .droite{
        width: 13.2%;
        height: 640px;
        background: #8e3557;
        float:left;
    }

.centre{
    width: 70%;
    height: 640px;
    border: 1.15em solid #787746;
    background: #e6e2af;
    text-align: center;
    float: left;
    }

    p{
        margin: 0;
    }
.clear{
    clear: both;
}
